<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue-指令-v-if与v-show</title>
	<script src="js/vue.js"></script>
</head>
<body>
<div id="app">
	年龄<input type="text" v-model="age">经判定,为:
	<span v-if="age <= 35">年轻人(35岁及以下)</span>
	<span v-else-if="age > 35 && age < 60">中年人(35-60岁)</span>
	<span v-else>老年人(60岁及以上)</span>

	<br> <br>
	年龄<input type="text" v-model="age">经判定,为:
	<span v-show="age <= 35">年轻人(35岁及以下)</span>
	<span v-show="age > 35 && age < 60">中年人(35-60岁)</span>
	<span v-show="age >= 60">老年人(60岁及以上)</span>

</div>
</body>
<script>
    //定义Vue对象
    new Vue({
        el: "#app",//Vue接管区域
        data: {
            age: 20
        },
        methods: {}
    })
</script>
</html>